{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="{% static "assets/upload.css" %}"}" type="text/css"
    rel="stylesheet" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% block content %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form }}
      <input class="submit" type="submit" value="Enviar" />
      {% if url %}
      <p>Upload: <a href="{{url}}">{{ url }}</a></p>
      {% endif %} {% if error %}
      <p>Upload falhou</p>
      {% endif %}
    </form>
  </body>
  {% endblock %}
</html>
