body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1984c5;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.head {
    display: flex;
    flex-direction: column;
}