body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1984c5;
    font-family: 'Inter', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
    background-color: #115f9a;
    color: #FFFFFF;
}

.submit {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 0 0 0;
}

.submit:active {
    transform: scale(0.98);
}

a {
    color: goldenrod
}